<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <security-constraint>
    <web-resource-collection>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.caltech.cs141b.collaborator.server.CollaboratorServer</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/Collaborator/collab</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>taskServlet</servlet-name>
    <servlet-class>edu.caltech.cs141b.collaborator.server.TaskHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>taskServlet</servlet-name>
    <url-pattern>/Collaborator/tasks</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>checkoutServlet</servlet-name>
    <servlet-class>edu.caltech.cs141b.collaborator.server.CheckoutHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>checkoutServlet</servlet-name>
    <url-pattern>/Collaborator/checkout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>disconnectServlet</servlet-name>
    <servlet-class>edu.caltech.cs141b.collaborator.server.DisconnectHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>disconnectServlet</servlet-name>
    <url-pattern>/_ah/channel/disconnected/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>connectServlet</servlet-name>
    <servlet-class>edu.caltech.cs141b.collaborator.server.ConnectHandler</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>connectServlet</servlet-name>
    <url-pattern>/_ah/channel/connected/</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Collaborator.html</welcome-file>
  </welcome-file-list>

</web-app>
